<div class="item-detail-section full first last">
    <h3>New Sprite Image</h3>

    <div class="controls">
        <button ng-click="deleteSpriteImage()">Delete Sprite Image</button>
        <button ng-click="saveSpriteImage()">Save Sprite Image</button>
    </div>

    <div class="input-container">
        <label for="image" class="input-label">Image</label>

        <div class="input checkbox"><input type="file" id="image" onchange="angular.element(this).scope().setSpriteFile(this)"></div>
    </div>

</div>