<div class="item-detail-section full first last">
    <h3>New Sprite Image</h3>

    <div class="controls">
        <button ng-click="deleteSpriteImage()">Delete Sprite Image</button>
        <button ng-click="saveSpriteImage()">Save Sprite Image</button>
    </div>

    <div class="input-container">
        <label for="image" class="input-label">Image path</label>

        <div class="input"><input id="image" type="text" ng-model="current_sprite.images.image[sprite_image_index]"/></div>
    </div>

</div>