/* HEADER */
header {
    height: 185px;
    width: 100%;
    background: $base-colour;
    margin-bottom: $section-padding;

    .logo {
        display:inline;
        float:left;
        margin-left:10px;
        background-image: url('../images/logo-uon.png');
        height:185px;
        width:185px; 
    }
    .content {
        @include adjust-font-size-to(20px);
        margin-right:10px;
        display:inline;
        float:right;
    }
}

/* LOGO */
#logo {
    @include column;

    h1 {
        margin: 0;
        padding: 0;

        a {
            @extend %hide-text;
            display: block;
            border: none;
        }
    }
}
