<div class="item-detail">
    <h2>New Background</h2>

    <div class="controls">
        <button ng-click="saveBackground()">Save Background</button>
    </div>

    <div class="item-detail-section half">
        <div class="input-container full">
            <label for="background_name" class="input-label">Background Name</label>

            <div class="input"><input id="background_name" type="text" ng-model="current_background.background_name" /></div>
        </div>
    </div>

    <div class="item-detail-section half">
        <div class="input-container full">
            <label for="image" class="input-label">Image</label>

            <div class="input"><input id="image" type="text" ng-model="current_background.image" /></div>
        </div>
    </div>

    <div class="item-detail-section half">
        <div class="input-container full">
            <label for="speed" class="input-label">Speed</label>

            <div class="input"><input id="speed" type="text" ng-model="current_background.speed" /></div>
        </div>
    </div>

    <div class="item-detail-section half">
        <div class="input-container full">
            <label class="input-label">Position Type</label>

            <div class="input">
                <select ng-model="current_background.position_type"
                        ng-options="position_type for position_type in position_type_options">
                    <option value="">Position type</option>
                </select>
            </div>
        </div>
    </div>
</div>