<div class="item-detail">
    <h2>Object Settings</h2>
    <div class="item-detail-section">
        <label for="object_name">Object Name:</label>
        <input type="text" id="object_name" ng-model="selected_item.object_name" />

        <label>Object ID:</label>
        <p>{{selected_item.object_id}}</p>

        <label>Object Shape:</label>
        <p>{{selected_item.object_shape}}</p>
    </div>
    <div class="item-detail-section">
        <label for="object_visible">Object Visible:</label>
        <input type="checkbox" id="object_visible" ng-model="selected_item.object_visible" ng-true-value="yes" ng-false-value="no">
        {{selected_item.object_visible}}

        <label>Starting Position (X - Y):</label>
        <p>{{selected_item.start_pos.x}} - {{selected_item.start_pos.y}}</p>
    </div>
    <div class="item-detail-section">
        <label>Starting Velocity (X - Y):</label>
        <input type="number" class="small" ng-model="selected_item.start_vel.x" /> - <input type="number" class="small" ng-model="selected_item.start_vel.y" />

        <label>Starting Acceleration (X - Y):</label>
        <input type="number" class="small" ng-model="selected_item.start_acc.x" /> - <input type="number" class="small" ng-model="selected_item.start_acc.y" />
    </div>
</div>