<section id="config">
    <div class="container">
        <div class="heading">
            <h1>Game Configuration</h1>
        </div>

        <form ng-submit="sendConfig()">
            <div class="input-container">
                <label for="game_name" class="input-label">Game Name</label>

                <div class="input"><input id="game_name" type="text" placeholder="Game name" ng-model="game_config.game_name"/></div>
            </div>

            <div class="input-container">
                <label for="starting_level" class="input-label">Starting Level</label>

                <div class="input"><input id="starting_level" type="number" placeholder="Starting level" ng-model="game_config.starting_level"/></div>
            </div>

            <div class="input-container">
                <label for="canvas_width" class="input-label">Canvas Width</label>

                <div class="input"><input id="canvas_width" type="number" placeholder="Width of the canvas (pixels)" ng-model="game_config.canvas_width"/></div>
            </div>

            <div class="input-container">
                <label for="canvas_height" class="input-label">Canvas Height</label>

                <div class="input"><input id="canvas_height" type="number" placeholder="Height of the canvas (pixels)" ng-model="game_config.canvas_height"/></div>
            </div>

            <div class="input-container">
                <label for="min_players" class="input-label">Minimum Players</label>

                <div class="input"><input id="min_players" type="number" placeholder="Minimum number of players" ng-model="game_config.min_players"/></div>
            </div>

            <div class="input-container">
                <label for="max_players" class="input-label">Maximum Players</label>

                <div class="input"><input id="max_players" type="number" placeholder="Maxiumum number of players" ng-model="game_config.max_players"/></div>
            </div>

            <div class="input-container full">
                <button type="submit">Save Game Configuration</button>
            </div>

        </form>
    </div>
</section>