<section id="config">
    <div class="container">
        <div class="heading">
            <h1>Game Configuration</h1>
        </div>

        <form action="">
            <p>
                <label for="name" class="input-label">Game Name</label>
                <input id="name" type="text" placeholder="Name"/>
            </p>

            <p>
                <label for="width" class="input-label">Canvas Width</label>
                <input id="width" type="number" placeholder="Width of the canvas (pixels)"/>
            </p>

            <p>
                <label for="height" class="input-label">Canvas Width</label>
                <input id="height" type="number" placeholder="Height of the canvas (pixels)"/>
            </p>
        </form>

        <div class="controls">
            <a href="#/scenes">Save Game Configuration</a>
        </div>
    </div>
</section>