<section id="config">
    <div class="container">
        <div class="heading">
            <h1>Game Configuration</h1>
        </div>

        <div class="controls-container">
            <div class="controls">
                <button>New Sprite</button>
                <button ng-click="newBackground()">New Background</button>
                <button ng-click="saveConfig()">Save Game Configuration to File</button>
            </div>
        </div>

        <div class="settings">

            <div class="input-container">
                <label for="game_name" class="input-label">Game Name</label>

                <div class="input"><input id="game_name" type="text" placeholder="Game name"
                                          ng-model="game.setup.game_name" required/></div>
            </div>

            <div class="input-container">
                <label for="starting_level" class="input-label">Starting Level</label>

                <div class="input"><input id="starting_level" type="number" placeholder="Starting level ID"
                                          ng-model="game.setup.starting_level" required/></div>
            </div>

            <div class="input-container">
                <label for="canvas_width" class="input-label">Canvas Width</label>

                <div class="input"><input id="canvas_width" type="number" placeholder="Width of the canvas (pixels)"
                                          ng-model="game.setup.canvas_size.width" required/></div>
            </div>

            <div class="input-container">
                <label for="canvas_height" class="input-label">Canvas Height</label>

                <div class="input"><input id="canvas_height" type="number" placeholder="Height of the canvas (pixels)"
                                          ng-model="game.setup.canvas_size.height" required/></div>
            </div>

            <div class="input-container">
                <label for="min_players" class="input-label">Minimum Players</label>

                <div class="input"><input id="min_players" type="number" placeholder="Minimum number of players"
                                          ng-model="game.setup.players.min" required/></div>
            </div>

            <div class="input-container">
                <label for="max_players" class="input-label">Maximum Players</label>

                <div class="input"><input id="max_players" type="number" placeholder="Maximum number of players"
                                          ng-model="game.setup.players.max" required/></div>
            </div>

        </div>

        <div class='object-list' selectable>
            <h2>Sprites</h2>

            <div class="object-container" ng-repeat="item in sprites">
                <div class="image-container">
                    <img ng-src="{{item.image}}" class="object" ng-class="determineOrientation(item)" data-index="{{$index}}"/>
                </div>
            </div>
        </div>

        <div id="background-detail" ng-include src="background_view_URL">
        </div>
    </div>
</section>