<div class="item-detail">
    <h2>New Event</h2>

    <div class="controls">
        <button ng-click="deleteEvent()">Delete Event</button>

        <div ng-include src="event_selected_control_URL" class="src-container">
        </div>
    </div>

    <div class="row">
        <div class="item-detail-section first">
            <div class="input-container">
                <label class="input-label">Event Type</label>

                <div class="input">
                    <select ng-model="selected_event_type.event_type"
                            ng-options="event_type.name for event_type in events.event_type_views"
                            ng-change="selectedEventChanged()">
                        <option value="">Event type</option>
                    </select>
                </div>
            </div>
        </div>

        <div ng-include src="selected_event_type.event_type.partial">
        </div>
    </div>

    <div class="row">
        <div ng-include src="action_view_URL">
        </div>
    </div>
</div>