<div class="item-detail">
    <div class="item-detail-section">
        <label for="level_name">Level Name:</label>
        <input type="text" id="level_name" ng-model="current_level.level_name" />
    </div>
    <div class="item-detail-section">
        <label for="background_id">Background ID:</label>
        <input type="number" id="background_id" ng-model="current_level.background_id" />
    </div>
    <div class="item-detail-section">
        <label>Level ID:</label>
        <p>{{current_level.level_id}}</p>
    </div>
</div>