<section id="levels">
    <div class="container">

        <div class="heading">
            <h1>Levels Configuration</h1>
        </div>

        <div class="controls-container">
            <div class="controls">
                <button ng-click="newEvent()">New Event</button>
                <button ng-click="newLevel()">New Level</button>
                <button ng-click="saveGame()">Save Game Levels to File</button>
            </div>
        </div>

        <div id="game-elements" class="item-detail">
            <div class="item-detail-section half first">
                <div class="input-container">
                    <h2 class="no-margin">Events</h2>
                    <label class="input-label">Current Event</label>

                    <div class="input">
                        <select
                                ng-model="current_event"
                                ng-options="event as getLabel(event.event_type, 'event') + ' (ID: ' + event.event_id + ')' for event in current_level.events.event"
                                ng-change="currentEventChanged()">
                        </select>
                    </div>
                </div>
            </div>
            <div class="item-detail-section half last">
                <div class="input-container">
                    <h2 class="no-margin">Actions</h2>
                    <label class="input-label">Current Action</label>

                    <div class="input">
                        <select ng-model="current_action"
                                ng-options="action as getLabel(action.action_type, 'action') + ' (ID: ' + action.action_id + ')' for action in current_event.actions.action"
                                ng-change="currentActionChanged()">
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div id="event-detail" ng-include src="event_view_URL">
        </div>

        <div id="level-detail" ng-include src="'views/level_detail.html'">
        </div>

        <div class='object-list'>
            <h2>Objects</h2>
            <p>Click and drag objects into the canvas below</p>

            <div class="object-container" ng-repeat="item in objects">
                <div class="image-container">
                    <img ng-src="{{item.image}}" class="object" ng-class="determineOrientation(item)" data-index="{{$index}}" draggable/>
                </div>
            </div>
        </div>
    </div>

    <div class="scene-container">
        <div class="scene" ng-style="scene_background" droppable></div>
    </div>

    <div class="container">

        <div id="item-detail" ng-include src="view_URL">
        </div>

    </div>
</section>