<section id="scenes">
    <div class="container">

        <div class="level-controls">
            <button ng-click="saveLevel()">Save Level</button>
        </div>

        <div class="dragdrop">
            <div class='list'>
                <div class="object-container" ng-repeat="item in list">
                    <img src="{{item.image}}" class="object" data-index="{{$index}}" draggable ng-click="objectClicked()"/>
                </div>
            </div>

            <div class="scene" droppable></div>
        </div>
    </div>
</section>