<div class="item-detail-section">
    <div class="input-container full">
        <label class="input-label">Object</label>

        <div class="input">
            <select ng-model="current_event.event_type.boundary.object_id" ng-options="scene_object.object_id as scene_object.object_name + ' (ID: ' + scene_object.object_id + ')' for scene_object in current_level.objects.object">
                <option value="">Object</option>
            </select>
        </div>
    </div>

    <div class="input-container full">
        <label class="input-label">Edges</label>

        <div class="input">
            <select ng-model="current_event.event_type.boundary.edges" ng-options="edges_option for edges_option in events.event_type_options.edges_options">
                <option value="">Edge</option>
            </select>
        </div>
    </div>
</div>
<div class="item-detail-section">
    <div class="input-container full">
        <label for="allow_overlap" class="input-label checkbox">Allow overlap</label>

        <div class="input">
            <input type="checkbox" id="allow_overlap" ng-model="current_event.event_type.boundary.allow_overlap" ng-true-value="yes"
                   ng-false-value="no">
            <span>{{current_event.event_type.boundary.allow_overlap}}</span>
        </div>
    </div>
</div>