<div class="item-detail-section">
    <div class="input-container">
        <label class="input-label">Object 1</label>

        <div class="input">
            <select ng-model="current_event.event_type.collision.object_id1" ng-options="scene_object.object_id as scene_object.object_name + ' (ID: ' + scene_object.object_id + ')' for scene_object in current_level.objects.object">
                <option value="">Object</option>
            </select>
        </div>
    </div>

    <div class="input-container">
        <label class="input-label">Object 2</label>

        <div class="input">
            <select ng-model="current_event.event_type.collision.object_id2" ng-options="scene_object.object_id as scene_object.object_name + ' (ID: ' + scene_object.object_id + ')' for scene_object in current_level.objects.object">
                <option value="">Object</option>
            </select>
        </div>
    </div>
</div>

<div class="item-detail-section last">
    <div class="input-container">
        <label for="allow_overlap" class="input-label">Allow overlap</label>

        <div class="input checkbox">
            <input type="checkbox" id="allow_overlap" ng-model="current_event.event_type.collision.allow_overlap" ng-true-value="yes"
                   ng-false-value="no">
            <span>{{current_event.event_type.collision.allow_overlap}}</span>
        </div>
    </div>
</div>