<div class="item-detail-section">
    <div class="input-container full">
        <label for="player_id" class="input-label">Player ID</label>

        <div class="input"><input type="number" id="player_id" ng-model="current_event.event_type.input.player_id" /></div>
    </div>

    <div class="input-container full">
        <label class="input-label">Input type</label>

        <div class="input">
            <select ng-model="current_event.event_type.input.type" ng-options="input_type_option for input_type_option in events.event_type_options.input_type_options">
                <option value="">Input type</option>
            </select>
        </div>
    </div>
</div>
<div class="item-detail-section">
    <div class="input-container full">
        <label for="value_x" class="input-label">Value (X)</label>

        <div class="input"><input type="number" id="value_x" ng-model="current_event.event_type.input.value.x" /></div>
    </div>

    <div class="input-container full">
        <label for="value_y" class="input-label">Value (Y)</label>

        <div class="input"><input type="number" id="value_y" ng-model="current_event.event_type.input.value.y" /></div>
    </div>
</div>