#config {
    .object, .background {
        cursor: pointer;
    }
}

#sprites {
    margin-bottom: $section-padding;
}

#sprite-detail, #background-detail {
    .item-detail {
        margin-top: $section-padding - ($section-padding / 3);
        margin-bottom: $section-padding / 3;
    }
}

#settings {
    margin-top: $section-padding - ($section-padding / 3);
    margin-bottom: $section-padding;
}