

#config {
    .settings {
        @include columns(16);

        margin-bottom: $section-padding - 24px;

        p {
            width: 50%;
            float: left;

            &.full {
                width: 100%;
                padding: 0 !important;
                text-align: center;
            }

            &:nth-of-type(odd) {
                padding-right: 10px;
            }

            &:nth-of-type(even) {
                padding-left: 10px;
            }
        }

        .input-container {
            width: 50%;
            float: left;
            margin-bottom: 24px;

            &.full {
                width: 100%;
                padding: 0 !important;
                text-align: center;
            }

            &:nth-of-type(odd) {
                padding-right: 10px;
            }

            &:nth-of-type(even) {
                padding-left: 10px;
            }
        }

        .input {
            overflow: hidden;
        }

        .input-label {
            @include adjust-font-size-to(14px);
            @extend %normal-text-bold;

            //width: 30%;
            display: inline-block;
            float: left;
            margin: 0;
            padding: 0 15px;
            height: 50px;
            line-height: 48px;
            text-transform: uppercase;
            letter-spacing: 1px;

            background: $light-grey;
            border: 1px solid $dark-grey;
            border-right-style: none;
        }

        input {
            height: 50px;
            width: 100%;
            padding: 0 15px;
        }

        input, textarea {
            @include transition(background .2s, border .2s);
            @include adjust-font-size-to(14px);

            background: $light-colour;
            border: 1px solid $dark-grey;
            margin: 0;
            color: $dark-colour;

            &:focus {
                outline: 0 none;
                background: scale-lightness($light-colour, -5%);
                border: 1px solid #000;
            }

            &.error {
                background: scale-lightness($error-colour, 70%);
            }
        }

        textarea {
            height: 186px;
            padding: 15px;
            width: 100%;
        }

        span.error, label.error {
            @extend %normal-text-bold;

            float: left;
            width: 100%;
            margin: 5px 0 0 0;
            display: block;

            color: $error-colour;
        }

        button[type="submit"] {
            @extend %button;
        }
    }
}

.object-list {
    @include columns(16);

    background: $lighter-grey;
    padding: 0;

    .object-container {
        text-align: center;
        padding: 20px;
        display: inline-block;
    }
}