.container {
    margin: 20px auto;
}

.list {
    @include columns(3);

    background: $light-colour;
    margin-bottom: $section-padding;
    padding: 20px 0 0 0;
    height: $scene-height;
    float: left;
}

.scene {
    @include columns(13);

    background: $light-colour;
    margin-bottom: $section-padding;
    padding: 0;
    height: $scene-height;

    float: right;
    position: relative;

    z-index: 1;
}

.object-container {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.object {
    display: inline-block;
    margin: 0;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    cursor: move;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    &.thumbnail {
        height: 100px;
        width: 100px;
    }
}

.item-detail {
    @include third(1);

    background: #eee;
    padding: 20px;

    p:last-child {
        margin: 0;
    }
}