.list {
    @include columns(3);

    background: $lighter-grey;
    padding: 20px 0 0 0;
    height: $scene-height;
    float: left;

    //overflow-y: auto;
}

.scene-object-container {
    display: inline-block;
    position: absolute;
}

.scene-object {
    cursor: pointer;
    vertical-align: bottom;
    position: relative;
}



.scene-container {
    @include container;

    width: $base-width - ($margin * 2);
    height: $scene-height;
    margin-top: $section-padding / 3;
    margin-bottom: $section-padding / 3;
    position: relative;
}

.scene {
    width: 100%;
    height: 100%;
    background: $lighter-grey;
    padding: 0;
    margin: 0;
    position: relative;

    z-index: 1;
}

.scene-scale {
    @include adjust-font-size-to(12px);

    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;

    color: scale-lightness($light-colour, -20%);
}
