.container {
    margin: 20px auto;
}

.list {
    @include columns(3);

    background: $lighter-grey;
    padding: 20px 0 0 0;
    height: $scene-height;
    float: left;

    //overflow-y: auto;
}

.scene {
    @include columns(13);

    background: $lighter-grey;
    padding: 0;
    height: $scene-height;

    float: right;
    position: relative;

    z-index: 1;
}

.scene-object-container {
    display: inline-block;
}

.scene-object {
    cursor: pointer;
    vertical-align: bottom;
    position: absolute;
}

.object-container {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.object {
    cursor: move;
    vertical-align: bottom;
    width: 100px;
    height: auto;
    position: relative;
    z-index: 2;
}

.item-detail {
    @include third(1);

    margin-top: $section-padding / 3;
    background: $lighter-grey;
    padding: 20px;

    p {
        margin: 0;
    }
}

.level-controls {
    @include columns(16);

    background: $lighter-grey;
    margin-bottom: $section-padding / 3;
    padding: 20px;

    button {
        @extend %button;
    }
}