/* BORDER BOX FIX */
* {
    @include box-sizing(border-box);
}

body {
    @extend %normal-text;

    background: $light-colour;
    color: $text-colour;

    //Set page width when responsiveness is disabled
    min-width: $base-width + 20px;
    width: 100%;
}

/* LAYOUT */
//Section
.content {
    padding: $section-padding 0;

    &:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: $border-width solid $dark-colour;
    }

    &.no-padding {
        padding-top: 0;
    }

    &.hero {
        padding-top: $hero-height;
        background-position: 50% 0;
        background-repeat: no-repeat;
    }
}

//Container
.container {
    @include container;
}

//Content
.full-width {
    @include columns(16);
}

.row {
    @include row;

    margin-bottom: 0;
}

/* OTHER STYLES USED THROUGHOUT THE WEBSITE */
.container {
    margin: 20px auto;
}

.controls-container {
    @include columns(16);

    background: $lighter-grey;
    margin-bottom: $section-padding;
}

.controls {
    padding: 20px;

    button {
        @extend %button;

        margin-right: 10px;
    }
}

.heading {
    @include columns(16);

    h1 {
        margin-top: 0;
    }
}

.ui-selected {
    @include box-shadow(0 0 5px 5px $success-colour);
}

.selected .outline {
    @include box-shadow(0 0 5px 5px $success-colour);
    z-index: 1;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.circle {
        @include border-radius(50%);
    }
}

.src-container {
    display: inline;
}

.object-list {
    @include columns(16);

    background: $lighter-grey;
    padding: 0;

    p {
        @include adjust-font-size-to(13px);

        color: $text-colour-light;
        text-align: center;
    }

    .object-container {
        margin: 20px;
        display: inline-block;
        float: left;
        display: table;
        height: 100px;
        width: 100px;

        .image-container {
            display: table-cell;
            vertical-align: middle;
            text-align: center;

            .background {
                width: 100px;
                height: 100px;
                background-repeat: repeat;
            }
        }
    }
}

.object {
    cursor: move;
    vertical-align: middle;
    position: relative;
    z-index: 2;

    &.portrait {
        max-height: 100px;
        width: auto;
    }

    &.landscape {
        max-width: 100px;
        height: auto;
    }

    &.circle {
        @include border-radius(50%);
    }
}

.input-container {
    float: left;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 !important;
    text-align: center;

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-of-type(odd) {
        padding-right: 10px;
    }

    &:nth-of-type(even) {
        padding-left: 10px;
    }

    .input {
        overflow: hidden;

        &.checkbox {
            background: $light-colour;
            border: 1px solid $dark-grey;
            height: 50px;
        }

        input, select, p {
            height: 50px;
            width: 100%;
            padding: 0 15px;
        }

        select {
            padding: 15px;
        }

        p {
            text-align: left;
            background: $dark-grey;
            line-height: 50px;
            border: 1px solid $dark-grey;
            margin: 0;
            color: $dark-colour;
        }

        span {
            line-height: 50px;
            float: left;
            margin-left: 10px;
        }

        input, select {
            @include transition(box-shadow .2s, border .2s);
            @include adjust-font-size-to(14px);

            background: $light-colour;
            border: 1px solid $dark-grey;
            margin: 0;
            color: $dark-colour;
            float: left;

            &:focus {
                @include box-shadow(0 0 2px 1px rgba(#000, 0.2) inset);

                outline: 0 none;
                //background: scale-lightness($light-colour, -5%);
                border: 1px solid #000;
            }
        }

        input[type='checkbox'] {
            width: auto;
            margin-left: 10px;
        }
    }

    .input-label {
        @include adjust-font-size-to(14px);
        @extend %normal-text-bold;

        display: inline-block;
        float: left;
        margin: 0;
        padding: 0 15px;
        height: 50px;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 1px;

        background: $light-grey;
        border: 1px solid $dark-grey;
        border-right-style: none;
    }
}

.item-detail {
    @include columns(16);
    @include clearfix;

    margin-bottom: $section-padding / 3;
    background: $lighter-grey;

    .controls {
        margin-bottom: $section-padding / 3;
    }

    .item-detail-section {
        @include third(1);

        padding: 0 10px 20px 10px;

        &.half {
            @include columns(8);
        }

        &.first {
            @include omega;
        }

        &.last {
            @include alpha;
        }

        p {
            margin-bottom: 20px;
        }

        p:last-child, .input:last-child {
            margin: 0;
        }
    }

    /*label {
        @extend %normal-text-bold;

        width: 100%;
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    input, select {
        width: 100%;

        &.small {
            width: 40%;
        }

        &[type='checkbox'] {
            width: auto;
        }
    }*/
}