/* BORDER BOX FIX */
* {
    @include box-sizing(border-box);
}

body {
    @extend %normal-text;

    background: $light-colour;
    color: $text-colour;

    //Set page width when responsiveness is disabled
    min-width: $base-width + 20px;
    width: 100%;
}

/* LAYOUT */
//Section
.content {
    padding: $section-padding 0;

    &:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: $border-width solid $dark-colour;
    }

    &.no-padding {
        padding-top: 0;
    }

    &.hero {
        padding-top: $hero-height;
        background-position: 50% 0;
        background-repeat: no-repeat;
    }
}

//Container
.container {
    @include container;
}

//Content
.full-width {
    @include columns(16);
}

.row {
    @include row;

    margin-bottom: 0;
}

/* OTHER STYLES USED THROUGHOUT THE WEBSITE */
.container {
    margin: 20px auto;
}

.object {
    cursor: move;
    vertical-align: bottom;
    width: 100px;
    height: auto;
    position: relative;
    z-index: 2;
}

.controls-container {
    @include columns(16);

    background: $lighter-grey;
    margin-bottom: $section-padding;
}

.controls {
    padding: 30px;

    button {
        @extend %button;

        margin-right: 10px;
    }
}

.heading {
    @include columns(16);

    margin-bottom: $section-padding / 2;
}

.ui-selected, .selected {
    @include box-shadow(0 0 5px 5px $success-colour);
}

.src-container {
    display: inline;
}