/* LINKS */
a {
    color: $highlight-colour;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}

/* PARAGRAPHS */
p {
    margin: 0 0 24px;

    &.no-margin {
        margin: 0;
    }

    &.center {
        text-align: center;
    }

    .text & {
        margin: 0;
    }
}

/* UNORDERED LISTS */
ul {
    margin: 0 0 24px;
    padding: 0 0 0 30px;

    li {
        margin: 6px 0;
    }
}

/* BOLD TEXT */
strong {
    @extend %normal-text-bold;
}

/* FONT-AWESOME ICONS */
i {
    margin-right: 6px;
}

/* HORIZONTAL RULES */
hr {
    margin: 24px 0;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
    @extend %heading-text;

    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid $text-colour;
}

h1 {
    @include adjust-font-size-to(28px);
}

h2 {
    @include adjust-font-size-to(24px);
}

h3 {
    @include adjust-font-size-to(18px);
}

h4 {
    @include adjust-font-size-to(16px);
}

h5 {
    @include adjust-font-size-to(13px);
}

h6 {
    @include adjust-font-size-to(10px);
}