<div class="item-detail-section">
    <label>Object:</label>
    <select ng-model="current_action.action_type.change_sprite.object_id" ng-options="scene_object.object_id as scene_object.object_name + ' (ID: ' + scene_object.object_id + ')' for scene_object in scene_objects">
        <option value="">-- Choose object --</option>
    </select>
</div>
<div class="item-detail-section">
    <label>Sprite ID:</label>
    <input type="number" ng-model="current_action.action_type.change_sprite.sprite_id" />
</div>