<div class="item-detail-section">
    <div class="input-container">
        <label class="input-label">Object</label>

        <div class="input">
            <select ng-model="current_action.action_type.input.object_id" ng-options="scene_object.object_id as scene_object.object_name + ' (ID: ' + scene_object.object_id + ')' for scene_object in current_level.objects.object">
                <option value="">Object</option>
            </select>
        </div>
    </div>

    <div class="input-container">
        <label for="player_id" class="input-label">Player ID:</label>

        <div class="input"><input type="number" id="player_id" ng-model="current_action.action_type.input.player_id" /></div>
    </div>
</div>

<div class="item-detail-section last">
    <div class="input-container">
        <label class="input-label">Type</label>

        <div class="input">
            <select ng-model="current_action.action_type.input.type" ng-options="type_option for type_option in actions.action_type_options.type_options">
                <option value="">Type</option>
            </select>
        </div>
    </div>
</div>