<div class="item-detail-section">
    <label>Object:</label>
    <select ng-model="current_action.action_type.input.object_id" ng-options="scene_object.object_id as scene_object.object_name + ' (ID: ' + scene_object.object_id + ')' for scene_object in scene_objects">
        <option value="">-- Choose object --</option>
    </select>

    <label for="player_id">Player ID:</label>
    <input type="number" id="player_id" ng-model="current_action.action_type.input.player_id" />
</div>
<div class="item-detail-section">
    <label>Type:</label>
    <select ng-model="current_action.action_type.input.type" ng-options="type_option for type_option in actions.action_type_options.type_options">
        <option value="">-- Choose type --</option>
    </select>
</div>