<div class="item-detail-section">
    <label>Object:</label>
    <select ng-model="current_action.action_type.reflect.object_id" ng-options="scene_object.object_id as scene_object.object_name + ' (ID: ' + scene_object.object_id + ')' for scene_object in current_level.objects.object">
        <option value="">-- Choose object --</option>
    </select>

    <label>Surface Object:</label>
    <select ng-model="current_action.action_type.reflect.surface_object_id" ng-options="scene_object.object_id as scene_object.object_name + ' (ID: ' + scene_object.object_id + ')' for scene_object in current_level.objects.object">
        <option value="">-- Choose surface object --</option>
    </select>
</div>
<div class="item-detail-section">
    <label for="level_id">Surface Level ID:</label>
    <input type="number" id="level_id" ng-model="current_action.action_type.reflect.surface_level_id" />
</div>