/* INLINE IMAGES */
img.inline {
    @extend %border-outline;

    max-width: 40%;
    height: auto;

    &.right {
        float: right;
        margin: 0 0 24px 48px;
    }

    &.left {
        float: left;
        margin: 0 48px 24px 0;
    }

    &.half {
        max-width: 100%;
        margin: $section-padding auto 0 auto;
        display: block;
    }

    &.large {
        max-width: 50%;
    }

    &.small {
        max-width: 30%;
    }
}

.half-box {
    @include columns(8);
}

/* INPUT PLACEHOLDERS */

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #666;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #666;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #666;
}

.input-container {
    overflow: hidden;
}